
/*hiding checked image*/
.hidden{
	display: none;
}

/*font*/
*{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	text-transform: lowercase;
}

/*close button*/
.close{
	font-size: 30px;
}

/*div with all scores */
.divVotes{
	width: 370px;
}

/*circle with score*/
.rounded-circle{
	height: 60px;

}

/*placeholder to the meme image*/
/* .memeImage, .memeSubmit{
	background-color: red;
	height: 250px;
	width: 370px;
} */

.image img{
	height: 30%;
	width: 30%;
	text-align: center;
	margin: auto;
}
/* #gottaGoImg {
	height: 100%;
	width: 100%;
} */

#displayImage {
	margin: auto;
	height: 50%;
	width: 50%;
	text-align: center;
}

body{
	margin: auto;
	text-align: center;
}

